<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: head">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
	
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<div th:replace="admin/fragments/header :: header"></div>
		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->

		<div th:replace="admin/fragments/sidebar :: sidebar"></div>
		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="box-body">
					<h1>Thông tin cá nhân</h1>
				</div>
				
				
			
			
			</section>
			
			
			<!-- popup  -->
			
			
			<!-- Main content -->
			<section class="content">
				


			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<div th:replace="admin/fragments/footer :: footer"></div>

	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->

	<div th:replace="admin/fragments/script :: script"></div>

</body>
</html>
